---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts.ts';
import { getCollection } from 'astro:content';
import Default from '@/layouts/Default.astro';
import BlogItem from '@/components/blog/BlogItem.astro';
import Heading from '@/components/Heading.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Default title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="p-6">
    <Heading>My Blog</Heading>
    <ul class="mt-6">
      {
        posts.map((post) => (
          <li>
            <BlogItem
              slug={post.slug}
              title={post.data.title}
              pubDate={post.data.pubDate}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Default>
