---
const { name, type = 'text', placeholder } = Astro.props;
---

<div class="flex items-start flex-col flex-1 w-full">
  <label for={name} class="mb-1">{placeholder}</label>
  <input
    type={type}
    name={name}
    id={name}
    placeholder={placeholder}
    required
    class="w-full border border-primary text-black rounded-md w-100 flex-1 py-2 px-4 outline-none"
  />
</div>
