---
import { AudioLines } from 'lucide-astro';

const getSong = async () => {
  return fetch(new URL('/api/spotify', Astro.url)).then((res) => res.json());
};
const { data: song } = await getSong();
---

{
  song && (
    <div class="flex w-[340px] items-center justify-between gap-2 rounded-lg bg-dark-600/80 p-4 shadow-lg">
      <div class="flex items-center gap-3">
        <div class="h-16 w-16 min-w-[4rem] overflow-hidden rounded-md bg-gray-800">
          <img src={song.albumImageUrl} alt={song.title} class="h-full w-full object-cover" />
        </div>
        <div class="max-w-[180px] text-left text-white space-y-1">
          <a
            href={song.artistUrl}
            target="_blank"
            rel="noreferrer noopener nofollow"
            title={song.artist}
            class="block font-semibold leading-tight hover:underline truncate"
          >
            {song.artist}
          </a>
          <a
            href={song.songUrl}
            target="_blank"
            rel="noreferrer noopener nofollow"
            title={song.title}
            class="block text-sm truncate"
          >
            {song.title}
          </a>
        </div>
      </div>
      <AudioLines class="text-gray-200 w-10 h-10 float-right" />
    </div>
  )
}
