---
import { db, Contact } from 'astro:db';
import Layout from '@/layouts/Default.astro';
import Heading from '@/components/Heading.astro';

const contacts = await db.select().from(Contact);
---

<Layout title="Contacts">
  <section class="py-12 px-6 md:px-8 lg:px-12">
    <div class="max-w-prose mx-auto mb-24">
      <Heading>Contacts</Heading>
      <div class="flex flex-col divide-y my-4">
        {
          contacts.map((c) => (
            <div class="my-2 border border-gray-400 p-4 rounded-md">
              <strong>ID</strong>
              <p>{c.id}</p>
              <strong>Email</strong>
              <p>{c.email}</p>
              <strong>Name</strong>
              <p>{c.name}</p>
              <strong>Surname</strong>
              <p>{c.surname}</p>
              <strong>Subject</strong>
              <p>{c.subject}</p>
              <strong>Message</strong>
              <pre>{c.message}</pre>
              <strong>User Agent</strong>
              <p>{c.userAgent}</p>
              <strong>Created At</strong>
              <time datetime={c.createdAt?.toISOString()}>{c.createdAt}</time>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
